{% extends "admin/base.html" %}
{%load static%}
{%block extrahead%}
<script src="{%static "jquery/jquery-3.3.1.min.js"%}"></script>
<script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>

<script src="{%static "js/admin2.js"%}"></script>
<link href="{%static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet"/>
<link rel="stylesheet" href="{%static "css/bootstrap.css" %}"
  {%endblock %}
{% block content %}
{{chunk}}
  <form action="" no-validate method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
  
    </table>
    <input type="submit" class='btn btn-primary' value="Submit">
  </form>
 
  <script>


  </script>
{% endblock %}