

      
      
        <div class="row">
          <div class="col-sm-5"><a href="{{purl}}{% if  not "&k=" in purl %}&k=2{% endif %}" data-toggle="tooltip" title="{{ button_parent }}" id="button-parent" class="btn btn-default"><i class="fa fa-level-up"></i></a> <a href="{{ rurl }}&k=2" data-toggle="tooltip" title="{{ button_refresh }}" id="button-refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
            <button type="button" data-toggled="tooltip" title="{{ button_upload }}" id="button-upload" class="btn btn-primary"><i class="fa fa-upload"></i></button>
            <button type="button" data-toggled="tooltip" title="{{ button_folder }}" id="button-folder" class="btn btn-default"><i class="fa fa-folder"></i></button>
            <button type="button" data-toggled="tooltip" title="{{ button_delete }}" id="button-delete" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
            <input type="hidden" name="directory" value="{{ directory }}" id="input-directory"/>
          </div>
        </div>
<div id="modal-folder" class="row mb-3" style="display: none;">
  <div class="col-sm-12">
    <div class="input-group">
      <div class="input-group">
        <input type="text" name="folder" value="" placeholder="{{ entry_folder }}" id="input-folder" class="form-control">
        <button type="button" title="{{ button_folder }}" id="button-create" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button>
      </div>
    </div>
  </div>
</div>
<hr/>

        <div class='row'>
          {% for  file in imgs %}
             <div class='col-sm-4 col-xs-6 text-center'>
               {% if file.type == 'directory'%}
               <div class="text-center"><a hreff="javasript:void(0)" href="{{ file.href }}" onclickk="loadfolder()" class="directory" style="vertical-align: middle;"><i class="fa fa-folder fa-5x"></i></a></div>
              <label>
               <input type="checkbox" name="path" value="{{ file.name }}" />
                {{ file.name }}
             </label>
       
          {% endif%}
        
                {% if file.type == 'image' %}
              <a href="{{ image.href }}" class="thumbnail mb-1"><img src="{{ file.thumb }}" class="img-thumbnail"  alt="{{ file.name }}" title="{{ file.name }}" /></a>
                
                <label>
                  <input type="checkbox" name="path" value="{{ file.path }}" />
                  {{ file.name }}</label>
                {% endif %} 
      </div>
      {% endfor %}

          </div>



          <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>



  



   
