<div class="row mb-3">
<div class="col-md-6">
<div class='card'>
   <div class='card-body'>
      <div class='card-title'><h3>Order Summary</h3></div>

       <div class='row mb-3'>

       <label class='col-sm-3'>Name</label>

       {{name}}


       </div>

       <div class='row mb-3'>

        <label class='col-sm-3'>Email</label>
 
        {{email}}
 
 
        </div>

        <div class='row mb-3'>

            <label class='col-sm-3'>Phone</label>
     
            {{phone}}
     
     
            </div>
            <div class='row mb-3'>

                <label class='col-sm-3'>Comment</label>
         
                {{comment}}
         
         
                </div>
            <div class='row mb-3'>

                <label class='col-sm-3'>Total</label>
         
                {{total}}
         
         
                </div>  




   </div>



</div>    



</div>    



<div class='col-md-6'>

<div class='card'>
      <div class='card-body'>
        <div class="card-title"><h3>Appointments</h3></div>
       <table class="table table-bordered table-hover">
        <tr>
       <td> Service</td>
       <td>Date</td>

       <td>Slot</td>


        </tr>    
    {% for item in items%}
    <tr>
        <td>
     {{item.name}}-{{item.category}}
        </td>
        <td>
         {{item.dated}}
        </td>
        <td>{{item.slot}}</td>
    </tr>
      {% endfor%}
     {% for oti in ot%}
     <tr>
     <td class='text-end' colspan='2'>{{oti.title}}</td>
     <td class='text-end' colspan='2'>{{oti.total}}</td>
     </tr>   
     {% endfor%}
       </table>
      </div>




</div>

</div>
</div>